<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 通过构造器方式注入属性    -->
    <bean id="car1" class="com.yijian.javabase.dependency.Car">
        <constructor-arg name="price" value="11"/>
        <constructor-arg name="speed" value="122"/>
    </bean>

    <bean id="car" class="com.yijian.javabase.dependency.Car">
        <property name="price" value="11"/>
        <property name="speed" value="22"/>
    </bean>
</beans>